
.info {
    display: flex;    
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Itim', cursive;

}

.brief_Info {
    float: left;
    width: 300px;
    height: 350px;
    margin: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
    border-radius: 2%;
}

.brief_Info h2 {
    font-size: 35px;
    color: #fff;
    background-color: #312e37;
    text-align: center;
    /* text-decoration: underline; */
    padding: 15px 0;
    margin-bottom: 40px;
}

.desc {
    font-size: 20px;
    line-height: 35px;
    color: #312e37;
    background-color: white;
}

.brief_Info ul li a {
    display: block;
    color: #312e37;
    text-decoration: underline;
    margin-top: 10px;
    /* height: 35px; */
}

.detail_Info {
    float: right;
    width: 800px;
    height: auto;  
    background-color: white;
    box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
    border-radius: 2%;
    margin: 20px;
    padding: 20px 0;
}

.bar {
    float: right;
    width: 30%;
    height: 50px;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #312e37;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    outline: none;
    margin-bottom: 0;
}

/* 当前信息表名称 */
.subTitle {
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin: 0 30px;
    text-decoration: underline;
}

/* 放置右边的信息栏 */
.details {
    float: right;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    padding: 20px 0;
    position: relative;
}
.row {
    width: 90%;
    height: auto;
    margin: 30px auto 20px;
}
.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    text-align: left;
}

.container h2 {
    float: left;
    width: 100%;
    margin: 5px 0 5px -10px;
    text-align: left;
}

.container h2::before {
    content: "\e9d9";
    font: bolder 20px 'icomoon' ;
    color: rgba(230, 160, 40, 0.934);
    margin-right: 10px;
}

.container ul {
    margin-left: 20px;
}

.adv {
    list-style: square;
}
/* 编辑按钮 */
.bar.edit {
    float: right;
    width: 10%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}

#applyBTN {
    background-color: rgba(230, 160, 40, 0.934);
}

/* 每个container显示一大块信息 */


/* 大块信息名称 */
h2 {
    float: left;
    width: 100%;
    text-align: left;
}

.question {
    float: left;
    width: 50%;
    margin: 5px 0;
    text-align: left;
    opacity: 0.5;
}

.answer {
    display: block;
    float: left;
    width: 50%;
    margin: 5px 0;
    text-align: left;
    /* font-size: 20px; */
}